@import 'variable';
h1 {
    color: red;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    color: $green-color;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 18px;
}
